# Email
EMAIL_HOST_PASSWORD=

# Google OAuth
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# Frontend
FRONTEND_URL=http://localhost:5173

# AI Providers
OPENROUTER_API_KEY=
GROQ_API_KEY=
GEMINI_API_KEY=
GOOGLE_API_KEY=
